@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Lato", sans-serif;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.page {
  max-width: 932px;
  padding-top: 110px;
  padding-bottom: 100px;
  margin: 0 auto;
}

.card {
  /* background: linear-gradient(
    90deg,
    rgba(var(--background-start-rgb), 1) 0%,
    rgba(var(--background-end-rgb), 1) 100%
  ); */
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  margin-bottom: 20px;
}

.mini {
  padding: 10px;
  margin-bottom: 10px;
  background: linear-gradient(
    180deg,
    rgb(34, 42, 55) 0%,
    rgb(55, 66, 84) 100%
  ) !important;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
}

.mini strong {
  margin-bottom:0.5rem;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.sr-only {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media screen and (min-width: 640px) {
  .page {
    padding-top: 140px;
  }
}
